In [1]:
import pandas as pd
import openpyxl

In [107]:
def make_df(year,category,month_ranges,dep):
    df=pd.DataFrame()

    if (("EN" in dep) and ("DIRESA" in dep)) or (("EN" in dep)and("DEP" in dep)):    
        print("1")        
        skiprows=7            
        if category=="children":
            print("children")
            
            if(int(year)==2022):
                usecols="B:U"
                names=['Department',
                        'ITE_DC:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDC:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT_DA:Total','IPT_DA:Cases','IPT_DA:Rate',
                        'IPT:Total','IPT_RDA:Cases','IPT_RDA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5                
            elif(int(year)==2020):
                usecols="B:Q"
                names=['Department',
                        'ITE:Total','ITE_DC:Cases','ITE_DC:Rate','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5                
            else:
                usecols="B:R"
                names=['Department',
                        'ITE_DC:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDC:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=6
            
            
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=6

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)
    elif ("EN" in dep) and ("DISTRITO" in dep):
        print("2")
        skiprows=7

        if category=="children":
            print("children")
            
            if(int(year)==2022):
                usecols="B:X"
                names=['Department','Province','District','Ubigeous',
                        'ITE_DC:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDC:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE_DG:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT_DA:Total','IPT_DA:Cases','IPT_DA:Rate',
                        'IPT_RDA:Total','IPT_RDA:Cases','IPT_RDA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=7                
            elif(int(year)==2020):
                usecols="B:T"
                names=['Department','Province','District','Ubigeous',
                        'ITE:Total','ITE_DC:Cases','ITE_DC:Rate','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5                
            else:
                usecols="B:U"
                names=['Department','Province','District','Ubigeous',
                        'ITE_DG:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDG:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5            
            
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=5
        elif category=="VRAEM_children":
            print("VRAEM_children")
            skipfooter=6

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    elif (("Anemia" in dep) and ("DEP" in dep)) or (("Anemia" in dep)and("DIRESA" in dep)):
        print("3")
        usecols='B:K'
        skiprows=6
        names=['Department','Total',
               'AT:Cases','AT:Rate',
               'AL:Cases','AL:Rate',
               'AM:Cases','AM:Rate',
               'AS:Cases','AS:Rate']
        
        if category=="children":
            print("children")
            skipfooter=3
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=4
        elif category=="pregnant_women":
            print("pregnant_women")
            skipfooter=5

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    elif ("Anemia" in dep) and ("DISTRITO" in dep):
        print("4")
        usecols='B:N'
        skiprows=6
        names=['Department','Province','District','Ubigeous','Total',
               'AT:Cases','AT:Rate',
               'AL:Cases','AL:Rate',
               'AM:Cases','AM:Rate',
               'AS:Cases','AS:Rate']
        
        if category=="children":
            print("children")
            skipfooter=5
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=3
        elif category=="pregnant_women":
            print("pregnant_women")
            skipfooter=6
        elif category=="VRAEM_children":
            print("VRAEM_children")
            skipfooter=4

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)
    #pregnant_women
    elif (("IMC_PG-CLAP" in dep) and ("DEP" in dep)) or (("IMC_PG-CLAP" in dep)and("DIRESA" in dep)):
        print("5")
        print("pregnant_women")
        usecols='B:N'
        skiprows=7
        skipfooter=6
        names=['Department',
        'IMC_PG:Total','IMC_PG_BP:Cases','IMC_PG_BP:Rate','IMC_PG_SP:Cases','IMC_PG_SP:Rate','IMC_PG_O:Cases','IMC_PG_O:Rate',
        'CLAP:Total','CLAP_DP:Cases','CLAP_DP:Rate','CLAP_SP:Cases','CLAP_SP:Rate']

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    #pregnant_women    
    elif (("IMC_PG-CLAP" in dep) and ("DISTRITO" in dep)):
        print("6")
        print("pregnant_women")
        usecols='B:Q'
        skiprows=7
        skipfooter=7
        names=['Department','Province','District','Ubigeous',
        'IMC_PG:Total','IMC_PG_BP:Cases','IMC_PG_BP:Rate','IMC_PG_SP:Cases','IMC_PG_SP:Rate','IMC_PG_O:Cases','IMC_PG_O:Rate',
        'CLAP:Total','CLAP_DP:Cases','CLAP_DP:Rate','CLAP_SP:Cases','CLAP_SP:Rate']

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    return df

In [115]:
year="2022"
category="children"
month_ranges="01_03"

dep="EN 0-35m x DEP"

df=make_df(year=year,category=category,month_ranges=month_ranges,dep=dep)
df

1
children

,Department,ITE_DC:Total,ITE_DC:Cases,ITE_DC:Rate,ITE_RDC:Total,ITE_RDC:Cases,ITE_RDC:Rate,IPE:Total,IPE_DG:Cases,IPE_DG:Rate,IPT_DA:Total,IPT_DA:Cases,IPT_DA:Rate,IPT:Total,IPT_RDA:Cases,IPT_RDA:Rate,IPT_SP:Cases,IPT_SP:Rate,IPT_O:Cases,IPT_O:Rate
0,AMAZONAS,20623,4157,20.157106,16466,6514,39.560306,20623,847,4.107065,20623,353,1.711681,18533,1257,6.782496,1347,6.531542,390,1.891092
1,ANCASH,23161,4035,17.421528,19126,7394,38.659417,23161,926,3.998100,23161,308,1.329822,21006,1386,6.598115,1547,6.679332,300,1.295281
2,APURIMAC,9600,1475,15.364583,8125,3369,41.464615,9600,419,4.364583,9600,110,1.145833,9022,713,7.902904,389,4.052083,79,0.822917
3,AREQUIPA,20229,1370,6.772455,18859,4252,22.546264,20229,427,2.110831,20229,250,1.235850,18301,1120,6.119884,1350,6.673587,328,1.621435
4,AYACUCHO,21160,3329,15.732514,17831,7386,41.422242,21160,831,3.927221,21160,247,1.167297,19676,1378,7.003456,1042,4.924386,195,0.921550
5,CAJAMARCA,54329,11341,20.874671,42988,19164,44.579883,54329,2384,4.388080,54329,748,1.376797,49777,3347,6.723989,3118,5.739108,686,1.262677
6,CALLAO,8629,587,6.802642,8042,1713,21.300671,8629,180,2.085989,8629,139,1.610847,7418,403,5.432731,848,9.827326,224,2.595898
7,CUSCO,30975,3771,12.174334,27204,9600,35.288928,30975,1127,3.638418,30975,458,1.478612,29141,2303,7.902955,1153,3.722357,223,0.719935
8,HUANCAVELICA,11276,2433,21.576800,8843,4272,48.309397,11276,488,4.327776,11276,149,1.321391,10438,680,6.514658,573,5.081589,116,1.028734
9,HUANUCO,23459,3747,15.972548,19712,7204,36.546266,23459,887,3.781065,23459,309,1.317192,21508,1463,6.802120,1361,5.801611,281,1.197835
10,ICA,17744,1089,6.137286,16655,3542,21.266887,17744,338,1.904869,17744,209,1.177863,15707,1016,6.468454,1474,8.307033,354,1.995041
11,JUNIN,18728,2979,15.906664,15749,5550,35.240333,18728,886,4.730884,18728,337,1.799445,17268,1460,8.454946,918,4.901751,205,1.094618
12,LA LIBERTAD,28104,4346,15.463991,23758,7618,32.064989,28104,959,3.412326,28104,450,1.601196,24765,1652,6.670705,2279,8.109166,610,2.170510
13,LAMBAYEQUE,15883,2212,13.926840,13671,3818,27.927730,15883,563,3.544670,15883,365,2.298055,13697,1035,7.556399,1370,8.625575,451,2.839514
14,LIMA,88204,6686,7.580155,81518,17260,21.173238,88204,2026,2.296948,88204,1985,2.250465,75849,5497,7.247294,7873,8.925899,2497,2.830937
15,LORETO,37351,7647,20.473347,29704,12318,41.469162,37351,2914,7.801665,37351,1230,3.293085,33914,3783,11.154685,1711,4.580868,496,1.327943
16,MADRE DE DIOS,6331,541,8.545254,5790,1384,23.903282,6331,212,3.348602,6331,150,2.369294,5818,549,9.436232,282,4.454273,81,1.279419
17,MOQUEGUA,2742,106,3.865791,2636,442,16.767830,2742,33,1.203501,2742,33,1.203501,2375,118,4.968421,261,9.518600,73,2.662290
18,PASCO,8031,1326,16.511020,6705,2531,37.747949,8031,411,5.117669,8031,189,2.353381,7360,648,8.804348,394,4.905989,88,1.095754
19,PIURA,56142,8710,15.514232,47432,16261,34.282763,56142,2263,4.030850,56142,963,1.715293,50275,3895,7.747389,3868,6.889673,1036,1.845321
20,PUNO,23632,2818,11.924509,20814,7288,35.014894,23632,702,2.970548,23632,321,1.358328,21804,1274,5.842965,1284,5.433311,223,0.943636
21,SAN MARTIN,30496,3550,11.640871,26946,8192,30.401544,30496,1240,4.066107,30496,694,2.275708,27856,2838,10.188110,1532,5.023610,414,1.357555
22,TACNA,3681,134,3.640315,3547,488,13.758105,3681,26,0.706330,3681,39,1.059495,3129,159,5.081496,386,10.486281,127,3.450149
23,TUMBES,5963,474,7.949019,5489,1219,22.208052,5963,170,2.850914,5963,120,2.012410,5317,436,8.200113,420,7.043435,106,1.777629
24,UCAYALI,18577,2982,16.052107,15595,5303,34.004489,18577,1067,5.743662,18577,469,2.524627,16975,1699,10.008837,881,4.742423,252,1.356516

In [5]:
df.dtypes

Department        object
ITE_DC:Total       int64
ITE_DC:Cases       int64
ITE_DC:Rate      float64
ITE_RDC:Total      int64
ITE_RDC:Cases      int64
ITE_RDC:Rate     float64
IPE_DG:Total       int64
IPE_DG:Cases       int64
IPE_DG:Rate      float64
IPT_DA:Total       int64
IPT_DA:Cases       int64
IPT_DA:Rate      float64
IPT_RDA:Total      int64
IPT_RDA:Cases      int64
IPT_RDA:Rate     float64
IPT_SP:Cases       int64
IPT_SP:Rate      float64
IPT_O:Cases        int64
IPT_O:Rate       float64
dtype: object

In [116]:
from sqlalchemy import create_engine