In [1]:
import pandas as pd
import openpyxl

In [107]:
def make_df(year,category,month_ranges,dep):
    df=pd.DataFrame()

    if (("EN" in dep) and ("DIRESA" in dep)) or (("EN" in dep)and("DEP" in dep)):    
        print("1")        
        skiprows=7            
        if category=="children":
            print("children")
            
            if(int(year)==2022):
                usecols="B:U"
                names=['Department',
                        'ITE_DC:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDC:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT_DA:Total','IPT_DA:Cases','IPT_DA:Rate',
                        'IPT:Total','IPT_RDA:Cases','IPT_RDA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5                
            elif(int(year)==2020):
                usecols="B:Q"
                names=['Department',
                        'ITE:Total','ITE_DC:Cases','ITE_DC:Rate','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5                
            else:
                usecols="B:R"
                names=['Department',
                        'ITE_DC:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDC:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=6
            
            
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=6

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)
    elif ("EN" in dep) and ("DISTRITO" in dep):
        print("2")
        skiprows=7

        if category=="children":
            print("children")
            
            if(int(year)==2022):
                usecols="B:X"
                names=['Department','Province','District','Ubigeous',
                        'ITE_DC:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDC:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE_DG:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT_DA:Total','IPT_DA:Cases','IPT_DA:Rate',
                        'IPT_RDA:Total','IPT_RDA:Cases','IPT_RDA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=7                
            elif(int(year)==2020):
                usecols="B:T"
                names=['Department','Province','District','Ubigeous',
                        'ITE:Total','ITE_DC:Cases','ITE_DC:Rate','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5                
            else:
                usecols="B:U"
                names=['Department','Province','District','Ubigeous',
                        'ITE_DG:Total','ITE_DC:Cases','ITE_DC:Rate',
                        'ITE_RDG:Total','ITE_RDC:Cases','ITE_RDC:Rate',
                        'IPE:Total','IPE_DG:Cases','IPE_DG:Rate',
                        'IPT:Total','IPT_DA:Cases','IPT_DA:Rate','IPT_SP:Cases','IPT_SP:Rate','IPT_O:Cases','IPT_O:Rate']
                skipfooter=5            
            
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=5
        elif category=="VRAEM_children":
            print("VRAEM_children")
            skipfooter=6

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    elif (("Anemia" in dep) and ("DEP" in dep)) or (("Anemia" in dep)and("DIRESA" in dep)):
        print("3")
        usecols='B:K'
        skiprows=6
        names=['Department','Total',
               'AT:Cases','AT:Rate',
               'AL:Cases','AL:Rate',
               'AM:Cases','AM:Rate',
               'AS:Cases','AS:Rate']
        
        if category=="children":
            print("children")
            skipfooter=3
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=4
        elif category=="pregnant_women":
            print("pregnant_women")
            skipfooter=5

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    elif ("Anemia" in dep) and ("DISTRITO" in dep):
        print("4")
        usecols='B:N'
        skiprows=6
        names=['Department','Province','District','Ubigeous','Total',
               'AT:Cases','AT:Rate',
               'AL:Cases','AL:Rate',
               'AM:Cases','AM:Rate',
               'AS:Cases','AS:Rate']
        
        if category=="children":
            print("children")
            skipfooter=5
        elif category=="foreign_children":
            print("foreign_children")
            skipfooter=3
        elif category=="pregnant_women":
            print("pregnant_women")
            skipfooter=6
        elif category=="VRAEM_children":
            print("VRAEM_children")
            skipfooter=4

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)
    #pregnant_women
    elif (("IMC_PG-CLAP" in dep) and ("DEP" in dep)) or (("IMC_PG-CLAP" in dep)and("DIRESA" in dep)):
        print("5")
        print("pregnant_women")
        usecols='B:N'
        skiprows=7
        skipfooter=6
        names=['Department',
        'IMC_PG:Total','IMC_PG_BP:Cases','IMC_PG_BP:Rate','IMC_PG_SP:Cases','IMC_PG_SP:Rate','IMC_PG_O:Cases','IMC_PG_O:Rate',
        'CLAP:Total','CLAP_DP:Cases','CLAP_DP:Rate','CLAP_SP:Cases','CLAP_SP:Rate']

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    #pregnant_women    
    elif (("IMC_PG-CLAP" in dep) and ("DISTRITO" in dep)):
        print("6")
        print("pregnant_women")
        usecols='B:Q'
        skiprows=7
        skipfooter=7
        names=['Department','Province','District','Ubigeous',
        'IMC_PG:Total','IMC_PG_BP:Cases','IMC_PG_BP:Rate','IMC_PG_SP:Cases','IMC_PG_SP:Rate','IMC_PG_O:Cases','IMC_PG_O:Rate',
        'CLAP:Total','CLAP_DP:Cases','CLAP_DP:Rate','CLAP_SP:Cases','CLAP_SP:Rate']

        df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                         sheet_name=dep,
                         usecols=usecols,
                         skiprows=skiprows,
                         skipfooter=skipfooter,
                         engine='openpyxl',
                         header=None,
                         names=names)

    return df

In [115]:
year="2022"
category="children"
month_ranges="01_03"

dep="EN 0-35m x DEP"

df=make_df(year=year,category=category,month_ranges=month_ranges,dep=dep)
df

1
children

,Department,ITE_DC:Total,ITE_DC:Cases,ITE_DC:Rate,ITE_RDC:Total,ITE_RDC:Cases,ITE_RDC:Rate,IPE:Total,IPE_DG:Cases,IPE_DG:Rate,IPT_DA:Total,IPT_DA:Cases,IPT_DA:Rate,IPT:Total,IPT_RDA:Cases,IPT_RDA:Rate,IPT_SP:Cases,IPT_SP:Rate,IPT_O:Cases,IPT_O:Rate
0,AMAZONAS,20623,4157,20.157106,16466,6514,39.560306,20623,847,4.107065,20623,353,1.711681,18533,1257,6.782496,1347,6.531542,390,1.891092
1,ANCASH,23161,4035,17.421528,19126,7394,38.659417,23161,926,3.998100,23161,308,1.329822,21006,1386,6.598115,1547,6.679332,300,1.295281
2,APURIMAC,9600,1475,15.364583,8125,3369,41.464615,9600,419,4.364583,9600,110,1.145833,9022,713,7.902904,389,4.052083,79,0.822917
3,AREQUIPA,20229,1370,6.772455,18859,4252,22.546264,20229,427,2.110831,20229,250,1.235850,18301,1120,6.119884,1350,6.673587,328,1.621435
4,AYACUCHO,21160,3329,15.732514,17831,7386,41.422242,21160,831,3.927221,21160,247,1.167297,19676,1378,7.003456,1042,4.924386,195,0.921550
5,CAJAMARCA,54329,11341,20.874671,42988,19164,44.579883,54329,2384,4.388080,54329,748,1.376797,49777,3347,6.723989,3118,5.739108,686,1.262677
6,CALLAO,8629,587,6.802642,8042,1713,21.300671,8629,180,2.085989,8629,139,1.610847,7418,403,5.432731,848,9.827326,224,2.595898
7,CUSCO,30975,3771,12.174334,27204,9600,35.288928,30975,1127,3.638418,30975,458,1.478612,29141,2303,7.902955,1153,3.722357,223,0.719935
8,HUANCAVELICA,11276,2433,21.576800,8843,4272,48.309397,11276,488,4.327776,11276,149,1.321391,10438,680,6.514658,573,5.081589,116,1.028734
9,HUANUCO,23459,3747,15.972548,19712,7204,36.546266,23459,887,3.781065,23459,309,1.317192,21508,1463,6.802120,1361,5.801611,281,1.197835
10,ICA,17744,1089,6.137286,16655,3542,21.266887,17744,338,1.904869,17744,209,1.177863,15707,1016,6.468454,1474,8.307033,354,1.995041
11,JUNIN,18728,2979,15.906664,15749,5550,35.240333,18728,886,4.730884,18728,337,1.799445,17268,1460,8.454946,918,4.901751,205,1.094618
12,LA LIBERTAD,28104,4346,15.463991,23758,7618,32.064989,28104,959,3.412326,28104,450,1.601196,24765,1652,6.670705,2279,8.109166,610,2.170510
13,LAMBAYEQUE,15883,2212,13.926840,13671,3818,27.927730,15883,563,3.544670,15883,365,2.298055,13697,1035,7.556399,1370,8.625575,451,2.839514
14,LIMA,88204,6686,7.580155,81518,17260,21.173238,88204,2026,2.296948,88204,1985,2.250465,75849,5497,7.247294,7873,8.925899,2497,2.830937
15,LORETO,37351,7647,20.473347,29704,12318,41.469162,37351,2914,7.801665,37351,1230,3.293085,33914,3783,11.154685,1711,4.580868,496,1.327943
16,MADRE DE DIOS,6331,541,8.545254,5790,1384,23.903282,6331,212,3.348602,6331,150,2.369294,5818,549,9.436232,282,4.454273,81,1.279419
17,MOQUEGUA,2742,106,3.865791,2636,442,16.767830,2742,33,1.203501,2742,33,1.203501,2375,118,4.968421,261,9.518600,73,2.662290
18,PASCO,8031,1326,16.511020,6705,2531,37.747949,8031,411,5.117669,8031,189,2.353381,7360,648,8.804348,394,4.905989,88,1.095754
19,PIURA,56142,8710,15.514232,47432,16261,34.282763,56142,2263,4.030850,56142,963,1.715293,50275,3895,7.747389,3868,6.889673,1036,1.845321
20,PUNO,23632,2818,11.924509,20814,7288,35.014894,23632,702,2.970548,23632,321,1.358328,21804,1274,5.842965,1284,5.433311,223,0.943636
21,SAN MARTIN,30496,3550,11.640871,26946,8192,30.401544,30496,1240,4.066107,30496,694,2.275708,27856,2838,10.188110,1532,5.023610,414,1.357555
22,TACNA,3681,134,3.640315,3547,488,13.758105,3681,26,0.706330,3681,39,1.059495,3129,159,5.081496,386,10.486281,127,3.450149
23,TUMBES,5963,474,7.949019,5489,1219,22.208052,5963,170,2.850914,5963,120,2.012410,5317,436,8.200113,420,7.043435,106,1.777629
24,UCAYALI,18577,2982,16.052107,15595,5303,34.004489,18577,1067,5.743662,18577,469,2.524627,16975,1699,10.008837,881,4.742423,252,1.356516

In [5]:
df.dtypes

Department        object
ITE_DC:Total       int64
ITE_DC:Cases       int64
ITE_DC:Rate      float64
ITE_RDC:Total      int64
ITE_RDC:Cases      int64
ITE_RDC:Rate     float64
IPE_DG:Total       int64
IPE_DG:Cases       int64
IPE_DG:Rate      float64
IPT_DA:Total       int64
IPT_DA:Cases       int64
IPT_DA:Rate      float64
IPT_RDA:Total      int64
IPT_RDA:Cases      int64
IPT_RDA:Rate     float64
IPT_SP:Cases       int64
IPT_SP:Rate      float64
IPT_O:Cases        int64
IPT_O:Rate       float64
dtype: object

In [7]:
year="2017"
category="children"
month_ranges="01_03"

dep="EN 0-35m x DEP"


df=pd.read_excel(io=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
                 sheet_name=dep,
                 #usecols=usecols,
                 #skiprows=skiprows,
                 #skipfooter=skipfooter,
                 engine='openpyxl')
                 #header=None,
                 #names=names)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,\nCUADRO N°01\nPERÚ: ESTADO NUTRICIONAL EN NIÑ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,PERIODO: ENERO - MARZO 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,DEPARTAMENTO,INDICADOR TALLA / EDAD1,NaN,NaN,NaN,NaN,NaN,INDICADOR PESO / EDAD2,NaN,NaN,INDICADOR PESO / TALLA3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,DESNUTRICIÓN CRÓNICA,NaN,NaN,RIESGO DE DESNUTRICIÓN CRÓNICA4,NaN,NaN,DESNUTRICIÓN GLOBAL,NaN,NaN,N° DE EVALUADOS,DESNUTRICIÓN AGUDA,NaN,SOBREPESO,NaN,OBESIDAD,NaN
5,NaN,NaN,N° DE EVALUADOS,N° DE CASOS,%,N° DE EVALUADOS,N° DE CASOS,%,N° DE EVALUADOS,N° DE CASOS,%,NaN,N° DE CASOS,%,N° DE CASOS,%,N° DE CASOS,%
6,NaN,AMAZONAS,21454,4627,21.567074,16523,6959,42.117049,21580,1115,5.166821,21560,365,1.69295,1322,6.131725,340,1.576994
7,NaN,ÁNCASH,39025,7888,20.212684,30657,12242,39.932153,39182,1700,4.338727,39055,482,1.234157,2191,5.610037,502,1.285367
8,NaN,APURÍMAC,18329,4066,22.183425,14147,6826,48.250512,18383,991,5.39085,18342,195,1.063134,644,3.511067,112,0.61062
9,NaN,AREQUIPA,45383,3473,7.652645,41170,10530,25.576876,45455,953,2.096579,45407,481,1.059308,2689,5.921994,499,1.09895
10,NaN,AYACUCHO,28059,5707,20.339285,22072,10371,46.987133,28328,1292,4.560859,28127,338,1.201692,1281,4.554343,242,0.860383
11,NaN,CAJAMARCA,57356,14244,24.834368,42482,20380,47.973259,57655,2948,5.113173,57472,658,1.144905,3337,5.806306,662,1.151865
12,NaN,CALLAO,17294,1163,6.724876,15721,3608,22.950194,17013,420,2.4687,16939,293,1.729736,1291,7.621465,291,1.717929
13,NaN,CUSCO,49556,8634,17.422714,40375,16191,40.101548,49684,2285,4.599066,49553,704,1.420701,1968,3.971505,372,0.750711
14,NaN,HUANCAVELICA,16278,5042,30.974321,11094,6114,55.110871,16279,844,5.184594,16257,204,1.254844,913,5.616042,145,0.891923
15,NaN,HUÁNUCO,27741,5424,19.552287,21997,9142,41.560213,27830,1241,4.459217,27782,424,1.526168,1438,5.176013,329,1.18422
16,NaN,ICA,17633,1277,7.242103,15997,3870,24.192036,17694,361,2.04024,17668,263,1.488567,1208,6.83722,268,1.516867
17,NaN,JUNÍN,37170,7283,19.593758,29398,11845,40.291857,37477,2084,5.560744,37256,569,1.527271,1641,4.40466,367,0.985076
18,NaN,LA LIBERTAD,11774,1088,9.2407,10416,2568,24.654378,11716,338,2.884944,11677,231,1.978248,782,6.696926,193,1.652822
19,NaN,LAMBAYEQUE,20167,2770,13.73531,16903,5222,30.893924,20324,931,4.580791,20258,552,2.724849,1247,6.155593,313,1.545069
20,NaN,LIMA,152078,9530,6.266521,138871,29818,21.471726,152777,3037,1.987865,152349,2130,1.398106,10982,7.208449,2442,1.602899
21,NaN,LORETO,38824,8610,22.177004,29740,12948,43.537323,39277,2991,7.615144,38964,896,2.299559,1546,3.967765,345,0.885433
22,NaN,MADRE DE DIOS,4807,504,10.48471,4189,1179,28.145142,4861,222,4.566962,4783,118,2.467071,209,4.369642,61,1.27535
23,NaN,MOQUEGUA,4245,224,5.276796,3899,781,20.030777,4272,57,1.33427,4236,35,0.826251,356,8.404155,89,2.101039
24,NaN,PASCO,9638,1959,20.325794,7548,3128,41.441441,9646,560,5.805515,9568,194,2.027592,491,5.131689,120,1.254181
25,NaN,PIURA,48938,9482,19.375536,38660,14510,37.532333,49379,2762,5.593471,49086,1067,2.173736,2647,5.392576,675,1.375138
26,NaN,PUNO,30796,5035,16.349526,25438,10423,40.974133,30935,1014,3.277841,30848,309,1.001686,1851,6.000389,319,1.034103
27,NaN,SAN MARTÍN,26044,3395,13.035632,22227,7159,32.208575,26225,1130,4.308866,26055,501,1.922855,1179,4.525043,290,1.11303
28,NaN,TACNA,7593,269,3.542737,7100,1065,15,7613,86,1.129647,7592,95,1.251317,764,10.063224,189,2.489463
29,NaN,TUMBES,10559,964,9.129652,9332,2386,25.567938,10655,425,3.988738,10583,273,2.579609,613,5.792308,140,1.322876
30,NaN,UCAYALI,32575,5419,16.635457,26705,8670,32.46583,32730,1834,5.603422,32564,669,2.054416,1684,5.171355,368,1.130082
31,NaN,PERÚ,773316,118077,15.26892,642661,217935,33.911347,776970,31621,4.069784,773981,12046,1.556369,44274,5.720295,9673,1.249772
32,NaN,Fuente: Sistema de Información del Estado Nutr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Instituto Nacional de Salud / Centro Nacional ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,"1,2,3 Indicadores Nitricionales según OMS.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,4 Riesgo de Desnutrición Crónica (T/E)se consi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import pandas as pd
import openpyxl

def read_table(file_name: str, table_name: str) -> pd.DataFrame:
    wb = openpyxl.load_workbook(file_name, read_only= False, data_only = True) # openpyxl does not have table info if read_only is True; data_only means any functions will pull the last saved value instead of the formula
    for sheetname in wb.sheetnames: # pulls as strings
        sheet = wb[sheetname] # get the sheet object instead of string
        if table_name in sheet.tables: # tables are stored within sheets, not within the workbook, although table names are unique in a workbook
            tbl = sheet.tables[table_name] # get table object instead of string
            tbl_range = tbl.ref #something like 'C4:F9'
            break # we've got our table, bail from for-loop
    data = sheet[tbl_range] # returns a tuple that contains rows, where each row is a tuple containing cells
    content = [[cell.value for cell in row] for row in data] # loop through those row/cell tuples
    header = content[0] # first row is column headers
    rest = content[1:] # every row that isn't the first is data
    df = pd.DataFrame(rest, columns = header)
    wb.close()
    return df

In [9]:
year="2017"
category="children"
month_ranges="01_03"

dep="EN 0-35m x DEP"

df=read_table(file_name=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx",
           table_name=dep)

UnboundLocalError: local variable 'tbl_range' referenced before assignment

In [16]:
cols_to_use = ['item_type', 'order id', 'order date', 'state', 'priority']

print(lambda x: x.lower() in cols_to_use)

<function <lambda> at 0x000001D53E16A820>

In [18]:
year="2017"
category="children"
month_ranges="01_03"

filename=f"./data/{year}/{category}/{category}_{year}_{month_ranges}.xlsx"

In [19]:
import pandas as pd
from openpyxl import load_workbook

wb = load_workbook(filename = filename)

In [20]:
wb.sheetnames

['INICIO',
 'EN 0-35m x DEP',
 'EN 0-59m x DEP',
 'EN 0-35m x DIRESA',
 'EN 0-59m x DIRESA',
 'EN 0-35m x DISTRITO',
 'EN 0-59m x DISTRITO',
 'EN 0-35m x EESS',
 'EN 0-59m x EESS',
 'Anemia 6-35m x DEP',
 'Anemia 6-59m x DEP',
 'Anemia 6-35m x DIRESA',
 'Anemia 6-59m x DIRESA',
 'Anemia 6-35m x DISTRITO',
 'Anemia 6-59m x DISTRITO',
 'Anemia 6-35m x EESS',
 'Anemia 6-59m x EESS']

In [23]:
sheet = wb['EN 0-35m x DEP']
sheet

In [39]:
dir(sheet)

['BREAK_COLUMN',
 'BREAK_NONE',
 'BREAK_ROW',
 'HeaderFooter',
 'ORIENTATION_LANDSCAPE',
 'ORIENTATION_PORTRAIT',
 'PAPERSIZE_A3',
 'PAPERSIZE_A4',
 'PAPERSIZE_A4_SMALL',
 'PAPERSIZE_A5',
 'PAPERSIZE_EXECUTIVE',
 'PAPERSIZE_LEDGER',
 'PAPERSIZE_LEGAL',
 'PAPERSIZE_LETTER',
 'PAPERSIZE_LETTER_SMALL',
 'PAPERSIZE_STATEMENT',
 'PAPERSIZE_TABLOID',
 'SHEETSTATE_HIDDEN',
 'SHEETSTATE_VERYHIDDEN',
 'SHEETSTATE_VISIBLE',
 '_WorkbookChild__title',
 '__class__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_add_cell',
 '_add_column',
 '_add_row',
 '_cells',
 '_cells_by_col',
 '_cells_by_row',
 '_charts',
 '_clean_merge_range',
 '_comments',
 '_current_row',
 '_default_title',
 '_drawing',
 '_get_cell',
 '_hyperlinks',
 '_id',
 '_images',
 '_invalid_row',
 '_move_cell',
 '_move_cells',
 '_parent',
 '_path',
 '_pivots',
 '_print_area',
 '_print_cols',
 '_print_rows',
 '_rel_type',
 '_rels',
 '_setup',
 '_tables',
 'active_cell',
 'add_chart',
 'add_data_validation',
 'add_image',
 'add_pivot',
 'add_table',
 'append',
 'array_formulae',
 'auto_filter',
 'calculate_dimension',
 'cell',
 'col_breaks',
 'column_dimensions',
 'columns',
 'conditional_formatting',
 'data_validations',
 'defined_names',
 'delete_cols',
 'delete_rows',
 'dimensions',
 'encoding',
 'evenFooter',
 'evenHeader',
 'firstFooter',
 'firstHeader',
 'freeze_panes',
 'insert_cols',
 'insert_rows',
 'iter_cols',
 'iter_rows',
 'legacy_drawing',
 'max_column',
 'max_row',
 'merge_cells',
 'merged_cell_ranges',
 'merged_cells',
 'mime_type',
 'min_column',
 'min_row',
 'move_range',
 'oddFooter',
 'oddHeader',
 'page_margins',
 'page_setup',
 'parent',
 'path',
 'print_area',
 'print_options',
 'print_title_cols',
 'print_title_rows',
 'print_titles',
 'protection',
 'row_breaks',
 'row_dimensions',
 'rows',
 'scenarios',
 'selected_cell',
 'set_printer_settings',
 'sheet_format',
 'sheet_properties',
 'sheet_state',
 'sheet_view',
 'show_gridlines',
 'tables',
 'title',
 'unmerge_cells',
 'values',
 'views']

In [62]:
#sheet.dimensions
sheet.values

In [27]:
sheet.ref()

AttributeError: 'Worksheet' object has no attribute 'ref'